[Unit]
Description=Activity Watch window/idle watcher
Requires=activitywatch.service
After=activitywatch.service

[Service]
Type=simple
ExecStart=/usr/bin/aw-awatcher

[Install]
WantedBy=default.target
